body {
    margin: 0;
    padding: 0;
    }

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.title-flex-container {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    background: red;
    border: solid white;
}

#yelpington-flex {
    display: inline-block;
    font-family: verdana;
    font-size: 5vw;
    background-color: red;
    color: white;
    border: solid;
}

.sidebar-map-container {
    display: grid;
    grid-template-rows: 25rem;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    'sidebar-container map-container';
}

.sidebar-container {
    display: grid;
    grid-area: sidebar-container;
}

#restaurant-list {
    background-color: red;
    color: white;
    border: solid black;
}

.sidebar-post-container {
    background-color: red;
    color: white;
    border: solid black;
}

.map-container {
    display: grid;
    grid-area: map-container;
}

#map {
    width: 1300px;
}


/*Footer*/

.footer-container {
    display: grid;
    grid-template-columns: 21rem 21rem 10rem 21rem;
    grid-template-rows: 2rem 15rem;
    grid-template-areas:
    '. footer-title  footer-title .'
    '. footer-inputs footer-info  .';
    justify-content: center;
    background-color: red;
    border: solid white;
}

#footer-title {
    grid-area: footer-title;
    justify-self: center;
}

#footer-inputs {
    display: grid;
    grid-area: footer-inputs;
    grid-template-columns: 10rem 10rem 10rem;
    grid-template-rows: 2rem 5rem 2rem;
    grid-template-areas:
    'footer-input-name    footer-input-email'
    'footer-input-message footer-input-message'
    'footer-submit-button          .           ';
}

#footer-input-name {
    grid-area: footer-input-name;
}

#footer-input-email {
    grid-area: footer-input-email;
}

#footer-input-message {
    grid-area: footer-input-message;
}

#footer-contact-information {
    grid-area: footer-contact-information;
}

#footer-submit-button {
    grid-area: footer-submit-button;
}

.footer-info {
    display: grid;
    grid-area: footer-info;
    grid-template-areas: 
    'footer-info-message';
}

#footer-info-message {
    grid-area: footer-info-message;
}